<html>
    <head>
        <title>IT Dept</title>
    </head>
    <body>
        <h1>Welcome to My Website</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>AGE</th>
            </tr>
            <tr>
                {% for d in datas %}
                    <tr>
                        <td>{{d.ID}}</td>
                        <td>{{d.Name}}</td>
                        <td>{{d.Age}}</td>
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>